{% extends "::base.html.twig" %}

{% block title %}Photo Gallery{% endblock %}

{% block body %}
<h1>Create new photo</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
