{% extends "::base.html.twig" %}

{% block title %}Photo Gallery{% endblock %}

{% block body %}
<div>
    <div style="display: inline-block; float: left">
        <h3>Photo Gallery</h3>
    </div>
    <div style="display: inline-block; float: right">
        <a href="{{ path('fos_user_registration_register') }}">Register</a> or <a href="{{ path('fos_user_security_login') }}">login</a>
    </div>
</div>
{% endblock %}
