{% extends "::base.html.twig" %}

{% block title %}Photo gallery{% endblock %}

{% block body %}
    <div class="header" style="height: 30px; border: solid 2px black">
        <div class="headname" style="display: inline; float: left">
            <h3 style="margin: 3px 0">Photo Gallery</h3>
        </div>
        <div class="reglog" style="display: inline; float: right; margin-top: 3px; margin-right: 10px">
            Hello {{ Username }}
        </div>
    </div>
    <div>
        <h1>{{ Username }}'s profile <a href="{{ path('app_user_edit') }}">Edit</a></h1>
        <br>
        <h3>My Photos <a href="{{ path('app_photo_addphoto') }}">Create new photo</a></h3>
    </div>
    <div>
        {% for photo in photos %}
        <div>
            <img width="100" height="100" src="{{ vich_uploader_asset(photo, 'imageFile') }}" />
        </div>
        {% endfor %}
    </div>
{% endblock %}
